{% extends "templates/application.html" %}

{% block title %}Send a broadcast notification{% endblock %}

{% block body %}
<h2>Send a broadcast notification</h2>
<p>The message will be sent to {{ application.device_tokens | length }} users.</p>
<form method="POST">
  <input type="hidden" name="mobile_application_id" value="{{ application.id }}">
  <p>
    Message:<br>
    <textarea name="message" cols="60" rows="4"></textarea><br>
    <input type="submit" value="Send broadcast">
    or <a href="{% url controller="applications" action="show" id=application.id %}">Cancel</a>
  </p>
</form>
{% endblock %}