{% extends "templates/application.html" %}

{% block title %}Create an application{% endblock %}

{% block body %}
<h2>{{ app.name }}</h2>
<dl id="app-details">
  <dt>API key</dt>
  <dd>{{ app.api_key }}</dd>
  <dt>API secret</dt>
  <dd>{{ app.api_secret }}</dd>
  <dt>Application mode</dt>
  <dd>{{ app.app_mode|capfirst }}</dd>
  <dt>Debug mode</dt>
  <dd>{% if app.debug_mode %}Yes{% else %}No{% endif %}</dd>
</dl>
<h3>Statistics</h3>
<p>
  Number of registered device tokens: {{ app.device_tokens | length }}
</p>
<h3>Actions</h3>
<ul>
  <li><a href="{% url controller="push" action="broadcast" app_id=app.id %}">Send a broadcast notification</a></li>
  <li><a href="{% url action="edit" id=app.id %}">Edit this application</a></li>
</ul>
{% endblock %}