{% extends "templates/application.html" %}

{% block title %}Create an application{% endblock %}

{% block body %}
<h1>{{ mobile_application.name }}</h1>
<p>
  API key: {{ mobile_application.api_key }}<br>
  API secret: {{ mobile_application.api_secret }}<br>
  Debug mode: {% if mobile_application.debug_mode %}YES{% else %}NO{% endif %}
</p>
<h2>Statistics</h2>
<p>
  Number of registered device tokens: {{ mobile_application.device_tokens | length }}
</p>
<h2>Actions</h2>
<p>
  <a href="{% url controller="push" action="broadcast" app_id=mobile_application.id %}">Send a broadcast notification</a>
</p>
<p>
  <a href="{% url action="index" %}">Back to applications</a>
</p>
{% endblock %}