[{boss, [
    {path, "../ChicagoBoss"},
    {vm_cookie, "abc123"},
    {applications, [erlpush, cb_admin]},
    {db_host, "localhost"},
    {db_port, 3306},
    {db_adapter, mysql},
    {db_username, "erlpush"},
    {db_password, "erlpush"},
    {db_database, "erlpush"},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ erlpush, [
    {path, "../erlpush"},
    {base_url, "/"}
]},
{cb_admin, [
    {path, "../cb_admin"},
    {base_url, "/admin"}
]}
].
