/* General styling */

table thead {
  font-weight: bold;
}

/* Flash messages */

p.flash {
  padding: 5px;
}
p.flash.notice {
  background-color: #efe;
}
p.flash.error {
  background-color: #fee;
}

/* Users login */

form dl#login dt {
  float: left;
  width: 80px;
  padding-top: 1px;
}
form dl#login dd {
  margin: 0 0 5px 90px;
}

/* Users creation */

form dl#users-create dt {
  float: left;
  width: 150px;
  padding-top: 1px;
}
form dl#users-create dd {
  margin: 0 0 5px 150px;
}

/* Application details */

dl#app-details dt {
  float: left;
  width: 160px;
}
dl#app-details dd {
  margin: 0 0 2px 160px;
}

dl#app-stats dt {
  float: left;
  width: 220px;
}
dl#app-stats dd {
  margin: 0 0 2px 220px;
}

/* Events log */

table#events {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
}

table#events td {
  margin-bottom: 5px;
  padding: 1px 3px;
}

table#events .critical {
  background-color: black;
  color: white;
}

table#events .error {
  background-color: #ff8b8b;
}

table#events .warning {
  background-color: #ffd28b;
}

table#events .info {
  background-color: #eee;
}

table#events .debug {
  background-color: white;
}

/* New application */

form dl#new-app dt {
  float: left;
  width: 160px;
  padding-top: 1px;
}
form dl#new-app dd {
  margin: 0 0 5px 160px;
}

/* Application broadcast */

form dl#app-broadcast dt {
  float: left;
  width: 80px;
  padding-top: 1px;
}
form dl#app-broadcast dd {
  margin: 0 0 10px 90px;
  margin-left: 80px;
}

/* Pagination */

#pagination .previous-page {
  margin-right: 15px;
}