{% extends "templates/application.html" %}

{% block title %}Android registrations for {{ app.name }}{% endblock %}

{% block body %}
<h2>Android registrations for {{ app.name }}</h2>
{% if registrations %}
  <table>
    <thead>
      <tr>
        <td>Registration ID</td>
        <td>Last registration time</td>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
        <tr>
          <td>{{ registration.value|upper }}</td>
          <td>{{ registration.last_registration_time|timesince }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No registrations registered yet.</p>
{% endif %}

<p>
  <a href="{% url controller="applications" action="show" id=app.id %}">Back to {{ app.name }}</a>
</p>

{% endblock %}